@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/s/dancingscript/v7/KGBfwabt0ZRLA5W1ywjoweUZr5SaR2Q2Y08giTcxFsw.eot);
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/lato/v11/nQhiC-wSiJx0pvEuJl8d8A.eot);
}
